{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "**/*.png",
    "**/*.jpg",
    "**/*.svg",
    "**/*.eot",
    "**/*.ttf",
    "**/*.woff"
  ],
  "ignorePath": "src/assets/**/*",
  "options": {
    "ignoreFontFamilies": [
      "iconfont"
    ]
  }
}
