{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "**/*.png",
    "**/*.jpg",
    "**/*.svg",
    "**/*.eot",
    "**/*.ttf",
    "**/*.woff",
    "**/*.woff2"
  ],
  "ignorePath": "src/assets/**/*",
  "font-family-no-missing-generic-family-keyword": [
    true,
    {
      "ignoreValues": [
        "iconfont"
      ]
    }
  ]
}
