// Border
.border-item {
  width: 500px;
  background-color: #f2f2f2;
  margin: 30px auto 0;
  font-size: 32px;
  color: #333;
  text-align: center;
  line-height: 80px;
}

// Elipsis
.ellipsis-item {
  padding: 0 30px;
  background-color: #f2f2f2;
  margin-top: 32px;
}
