.wrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.test_scroll_view {
  height: 80vh;
}

.test_extra {
  background-color: #00ab84;
  color: #fff;
  text-align: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ff6767;
}
